* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.btn {
  margin-left: 5px;
  padding: 5px;
  width: 80px;
  cursor: pointer;
}
